<?xml version="1.0"?>


<launch>

  <arg name="uav1_id" default="1" />
  <arg name="uav2_id" default="2" /> 
  <arg name="uav3_id" default="3" /> 
  <arg name="uav4_id" default="4" /> 
  <arg name="uav5_id" default="5" /> 
 <arg name="target_id" default="0" /> 
    <include file="$(find formation)/launch/formation.launch">
      <arg name="system_id" value="$(arg uav1_id)" />
<arg name="SimuFlag" default="true" />
    </include>


  <group ns="uav2">
    <include file="$(find formation)/launch/formation.launch">
      <arg name="system_id" value="$(arg uav2_id)" />
<arg name="SimuFlag" default="true" />
    </include>
  </group>

  <group ns="uav3">
    <include file="$(find formation)/launch/formation.launch">
      <arg name="system_id" value="$(arg uav3_id)" />
<arg name="SimuFlag" default="true" />
    </include>
  </group>

  <group ns="uav4">
    <include file="$(find formation)/launch/formation.launch">
      <arg name="system_id" value="$(arg uav4_id)" />
<arg name="SimuFlag" default="true" />
    </include>
  </group>
  <group ns="uav5">
    <include file="$(find formation)/launch/formation.launch">
      <arg name="system_id" value="$(arg uav5_id)" />
<arg name="SimuFlag" default="true" />
    </include>
  </group>
  <group ns="uav9">
    <include file="$(find formation)/launch/formation.launch">
      <arg name="system_id" value="9" />
<arg name="SimuFlag" default="true" />
    </include>
  </group>
 <!-- <group ns="uav0">
    <include file="$(find formation)/launch/formation.launch">
      <arg name="system_id" value="$(arg target_id)" />
<arg name="SimuFlag" default="true" />
    </include>
  </group>-->



 <!--<node name="rqt_node" pkg="rqt_reconfigure" type="rqt_reconfigure"  output="screen" >
 </node>-->
</launch>
